@tailwind base;

@layer base {
  html {
    @apply bg-body font-poppins text-dark;
  }

}

@tailwind components;
@tailwind utilities;

/* UTILITIES */

@layer utilities {
  .active-nav {
    @apply bg-body absolute before:content-[""] after:content-[""] before:w-4 after:w-4 before:h-4 after:h-4 before:absolute after:absolute before:right-0 after:right-0 before:shadow-[5px_5px_0px_5px_var(--body-bg)] after:shadow-[5px_-5px_0px_5px_var(--body-bg)] before:-top-4 after:-bottom-4 before:rounded-[0_0_1rem] after:rounded-[0_1rem_0_0];
  }

  .pagination-custom {
    @apply [&>*]:cursor-pointer [&>.swiper-pagination-bullet-active]:bg-primary [&>.swiper-pagination-bullet:not(.swiper-pagination-bullet-active)]:bg-gray-400 [&>*]:w-3 [&>*]:h-3
  }

  .form-input {
    @apply text-lg text-dark font-medium placeholder:text-lg bg-transparent placeholder:text-gray-200 pb-3 lg:pb-5 border-b border-solid border-b-gray-100 dark:border-b-neutral-100/50 dark:focus:border-b-neutral-100 focus:outline-none focus:border-b-primary focus:border-b-2 hover:border-b-primary dark:hover:border-b-neutral-100 hover:border-b-2 transition
  }
}

:root {
  /* COLORS */
  --body-bg: rgb(242, 242, 242);
  --primary-clr: #40189D;
  --dark-clr: #292929;

  --range-clr: var(--primary-clr);
  --card-bg: #fff;

  --gray-100: #E3E3E3;
  --gray-200: #BFBFBF;
  --gray-300: #8F8F8F;
  --gray-400: #797979;
  --gray-500: #757575;
  --gray-600: #616161;
  --gray-700: #5C5C5C;
  --gray-800: #3D3D3D;
  --gray-850: #0C0C0CB2;
  --gray-900: #000000B2;

  --primary-300: #E3D7FF;
  --primary-500: #BEA1FF;
  --primary-600: #9B70FF;
  --primary-700: #7649E0;
  --primary-800: #4E36E2;
  --primary-hover: #2e1171;

  /* SPACING */
  --border-radius-md: 1.25rem;
  --border-radius-lg: 3rem;
}

:root.dark {
  /* COLORS */
  --body-bg: #251e35;
  --primary-clr: #40189D;
  --dark-clr: #fff;

  --range-clr: var(--gray-300);
  --card-bg: #28253b;

  --gray-100: #28253b;
  --gray-200: #BFBFBF;
  --gray-300: #8F8F8F;
  --gray-400: #797979;
  --gray-500: #757575;
  --gray-600: #BFBFBF;
  --gray-700: #E3E3E3;
  --gray-800: var(--gray-600);
  --gray-850: #0C0C0CB2;
  --gray-900: #8F8F8F;

  --primary-300: #40189d1a;
  --primary-500: #BEA1FF;
  --primary-600: #9B70FF;
  --primary-700: #7649E0;
  --primary-800: #4E36E2;
  --primary-hover: #2e1171;
}

.active-nav::before,
.active-nav::after {
  --border-radius: 1rem;

  content: "";
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0rem;
}

.active-nav::before {
  border-radius: 0 0 var(--border-radius);
  top: calc(var(--border-radius) * -1);
  box-shadow: 5px 5px 0 5px var(--body-bg);
}

.active-nav::after {
  border-radius: 0 var(--border-radius) 0 0;
  bottom: calc(var(--border-radius) * -1);
  box-shadow: 5px -5px 0 5px var(--body-bg);
}

@layer components {

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.primary) 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }

    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }

    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }

    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }
}

@media (min-width: 992px) {

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 3px;
    scrollbar-gutter: stable;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .textarea-scrollbar::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
    border-radius: 50px;
  }

  ::-webkit-scrollbar-track {
    background: var(--primary-500);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-hover);
  }
}


/* WIDGETS BG COLORS */

.widget-1 {
  background-color: #4E36E2;
}

.widget-2 {
  background-color: #48A9F8;
}

.widget-3 {
  background-color: #1BD084;
}

.widget-4 {
  background-color: #8BC740;
}

/* STATUS BG COLORS */

.status-pending {
  border-color: #B1B1B1;
  color: #B1B1B1;
}

.status-on-hold {
  border-color: #FF9548;
  color: #FF9548;
}

.status-candidate {
  border-color: #2BC155;
  background-color: #2BC155;
  color: #fff;
}

/* PORTFOLIO BG COLORS */

.portofolio-facebook {
  background-color: #3D6AD6;
}

.portofolio-dribbble {
  background-color: #EA518D;
}

.portofolio-linkedin {
  background-color: #0073B1;
}

.portofolio-youtube {
  background-color: #FF0000;
}

/* Custom Legend Icon Classes */
.custom-legend-following {
  background-color: #374C98;
}

.custom-legend-followers {
  background-color: #FFAB2D;
}

.custom-legend-following {
  background-color: #374C98;
}

.custom-legend-app-sent {
  background-color: #2BC155;
}

.custom-legend-app-answered {
  background-color: #FF9B52;
}

.custom-legend-hired {
  background-color: #3F9AE0;
}

/* Range Input */

.input-range {
  accent-color: var(--range-clr);
}